[submodule "kaken_definition"]
	path = kaken_definition
	url = https://bitbucket.org/niijp/kaken_definition
[submodule "grants_masterxml_kaken"]
	path = grants_masterxml_kaken
	url = https://bitbucket.org/niijp/grants_masterxml_kaken
